@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

main {
  background-color: rgb(0, 0, 0) !important;
  height: 100vh;
}

div#principal {
  background-image: url(../imagens/space.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center right;
  background-size: cover;
  height: 30vh;
}

nav {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}

nav span {
  display: inline-block;
  transition: transform 0.3s;
}

nav:hover span {
  animation: jump 0.3s ease-in-out;
}

nav span:nth-child(1) {
  animation-delay: 0s;
}
nav span:nth-child(2) {
  animation-delay: 0.05s;
}
nav span:nth-child(3) {
  animation-delay: 0.1s;
}
nav span:nth-child(4) {
  animation-delay: 0.15s;
}
nav span:nth-child(5) {
  animation-delay: 0.2s;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

button {
  margin-bottom: 10px !important;
  background-color: #30015f !important;
}

a:hover {
  background-color: #30015f;
  color: white !important;
  transition: 0.3s;
  border-radius: 16px;
}

a {
  border-radius: 50px;
  border: rgba(0, 0, 0, 0.541) solid 2px !important;
  margin: 10px !important;
  text-align: center;
  width: 100px;
  background-color: #30015f !important;
  color: #9b17a0 !important;
}

/* Mudando a barra de rolagem */

/* Define o estilo para a barra de rolagem */
::-webkit-scrollbar {
  width: 12px; /* Largura da barra de rolagem */
}

/* Define o estilo para a parte de fundo da barra de rolagem (track) */
::-webkit-scrollbar-track {
  background-color: rgba(22, 20, 114, 0.849); /* Cor de fundo do track */
  border-radius: 10px; /* Bordas arredondadas do track */
}

/* Define o estilo para o polegar (thumb), a parte que o usuário arrasta */
::-webkit-scrollbar-thumb {
  background-color: #30015f; /* Cor do polegar */
  border-radius: 10px; /* Bordas arredondadas do thumb */
}

/* Define o estilo da borda do polegar, criando uma borda ao redor */
::-webkit-scrollbar-thumb:hover {
  background-color: #9b17a0; /* Cor do polegar quando está sendo pressionado */
}

/* Adiciona uma borda ao track */
::-webkit-scrollbar-track-piece {
  border: 2px solid #30015f; /* Cor da borda do track */
}

@font-face {
  font-family: "StarDeath";
  src: url(../fonts/Death\ Star.otf);
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf);
}
