@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black !important;
  height: 100%;
}

div#principal {
  background-image: url(../imagens/space-skills.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

div.texto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
}

.container:hover .home {
  transform: scale(1.2) rotate(5deg);
  opacity: 0.9;
}

img.home {
  max-width: 100vw;
  max-height: 100vh;
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.titulo-com-tracos {
  font-family: "StarDeath";
  color: transparent;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  font-size: 13px;
  font-weight: bold;
  padding: 10px 0;
  margin: 20px 0;
  border-top: 2px solid #080804;
  border-bottom: 2px solid #030301; 
  display: inline-block;
}


/* Mudando a barra de rolagem */

/* Define o estilo para a barra de rolagem */
::-webkit-scrollbar {
  width: 12px; /* Largura da barra de rolagem */
}

/* Define o estilo para a parte de fundo da barra de rolagem (track) */
::-webkit-scrollbar-track {
  background-color: rgba(22, 20, 114, 0.849); /* Cor de fundo do track */
  border-radius: 10px; /* Bordas arredondadas do track */
}

/* Define o estilo para o polegar (thumb), a parte que o usuário arrasta */
::-webkit-scrollbar-thumb {
  background-color: #30015f; /* Cor do polegar */
  border-radius: 10px; /* Bordas arredondadas do thumb */
}

/* Define o estilo da borda do polegar, criando uma borda ao redor */
::-webkit-scrollbar-thumb:hover {
  background-color: #9b17a0; /* Cor do polegar quando está sendo pressionado */
}

/* Adiciona uma borda ao track */
::-webkit-scrollbar-track-piece {
  border: 2px solid #30015f; /* Cor da borda do track */
}

@font-face {
  font-family: "StarDeath";
  src: url(../fonts/Death\ Star.otf);
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf);
}

@media screen and (min-width: 85px) {
  img.home {
    height: 90px;
  }
}

@media screen and (min-width: 127px) {
  .titulo-com-tracos {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 768px) {
  .titulo-com-tracos {
    font-size: 2em;
  }
}
