@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  background: black url(../imagens/space\ background.png) center center
    no-repeat fixed; /* short hand */
  background-size: cover;
}
